/*formulier*/
form{
 background-color: rgb(231, 231, 107);
 /*width:50%;*/
}
body{
    background-color: white;
}
form label{
    width: 120px;
    height: 30px;
    text-align: left;
    display: inline-block;
}

form input,select{
    width: 500px;
    height: 30px;
    padding-left: 5px;
    display: inline-block;
}
form #upload{
    display:inline-block;
    width: 102px;
    height: 30px;
 
}
form #submit{
    width: 100px;
    height: 40px; 
    display: block; 
    float: left;
}
form div{
    padding: 8px 0;
}

form div#kader{
    width:150px ;
    height: 150px;
    border:1px bordersolid gray;
}
form #formfoot{
    overflow: auto;
}

/*valideren*/ 
#foutmeldingspan{
    display: inline-block;
    padding-left: 15px;
    margin-top:10px;
    color:red;
    font-size:large;
}

.invalid-warning {
    border: solid 3px red;
}

input[type=file] {
    width: 85px;
    height: 100%;
}

/*index*/

#cover {
	width: 100%;
	height: 150px;
	background: url("../assets/images/everton-vila-AsahNlC0VhQ-unsplash.jpg");
	background-size: cover;
	background-position: top;
}

logo-img {
	width: 230px;
	
}

/*imagegrotes*/

smallogo-img {
    width: 50px;

}

.orange-color {
	background-color: orange;
}

input[type="file"] {
	padding: 0;
	margin-top: 10px;
}

input[type=file]{ 
    color:transparent;
   
}
table{
    width: auto;
    text-align: left;
}
td{
    padding-right: 15px;
    padding-left: 15px;
}
button{
    margin:5px ;
}

label{
    margin: 5px;
}
input{
    margin: 5px;
}
#detailFoto,#toondetailFoto{
    width: 50%;
}
#menu{
    background-color: orange ;
}
#Sterrenbeeldimg,#toonSterrenbeeldimg{
    margin: 10px;
}