/*formulier*/
form{
 background-color: rgb(231, 231, 107);
 width:50%;
}
label{
    width: 100px;
    height: 30px;
    display: inline-block;
}

input,select{
    width: 400px;
    height: 30px;
    display: inline-block;
}

 form #submit{
    width: 100px;
    height: 40px; 
    display: block; 
    margin: 0 auto;
}
div{
    padding: 10px;
}

    



